<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
    <link rel="icon" href="./img/covid19.jpg">
    <link rel="stylesheet" href="./css/style.css" type="text/css"/>
  </head>
  <body>
    {{>header}}
    <div class="main-content">
      <img id="me" src="./img/me.jpg" />
      <p>Hello my name is Daniel Antonio. As I'm writing this, the COVID-19 (aka "The Carona") virus
      epidemic is getting worse with each and passing day. I am new to the Web Development world and wanted to practice with
      APIs and thus, this Web-App was born. I know this app isn't the flashiest nor the most informative but it does lay down the
      facts. If you want more information on the App and how it works, check the "Help" page for more info.
      I put up the source code on my <a href="https://github.com/danieltantonio/covid19-watch" target="_blank">GitHub</a> incase you want to expand on this App. Let me know what you think! Have an awesome day and please stay safe! 😷💖</p>
    </div>
    {{>footer}}
  </body>
</html>
