<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help Page</title>
    <link rel="icon" href="./img/covid19.jpg">
    <link rel="stylesheet" href="./css/style.css" type="text/css" />
  </head>
  <body>
    {{>header}}
    <div class="main-content">
      <h4>Why make this app?</h4>
      <p>Unfortunately with the COVID-19 epidemic rising I felt like this app was needed to be made. The
      constant days of this quarantine made me feel like it was time for me to expand my Web Development
      skills, and so I made this app as a reflection of the current time. There are many like this app,
      but this one is mine.</p>

      <br />

      <h4>How does this app work?</h4>
      <p>In the Home page, type the abrevation for any state that you want to check on. For example if You
      want to check on California, you would type in the search box: "CA" (without the quotes obviously).
    I plan on making this app a little more scaled to see the whole country's info and even other countries and
  their provinces or states. Until then, it only checks all 50 states for the United States individually.</p>

      <br />

      <h4>When does the information on this site update?</h4>
      <p>The information on this site is taken from <a href="https://smartable.ai/">Smartable.ai</a>'s COVID-19 API, which updates in the beginning and the end
      of each day.</p>

      <br />

      <h4>Where does the information come from?</h4>
      <p>The information comes from <a href="https://smartable.ai/">Smartable.ai</a>'s API, and the way they get their information is from many credible sources
      such as many testing facilities, and government created stat pages.</p>
    </div>
    {{>footer}}
  </body>
</html>
